:root {
    --background-color-1: rgb(0, 0, 0);
    --background-color-2: rgb(47, 47, 47);
    --main-text-color: #ffffff;
    --gold-color-1: #ab9557;
    --gold-color-2: #ffd630;
    --call-for-action: #5f57ab;
    --interract-color: #5784ab;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-1);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(
        0deg,
        var(--background-color-1),
        var(--background-color-2)
    );

    background-attachment: fixed; /* Fixe le gradient au viewport */
    background-size: 100% 100%; /* Le gradient reste étiré à l'écran */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.intro-image  {
    position: relative;
}

.main-image {
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(60%) blur(10px);
}

.intro-image .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    min-width: 70%;
    max-width: 90%;

    text-align: center;

    margin: 0;
    padding: 0;
}

.intro-image .image-text p {
    font-size: 4rem;
    font-weight: 900;
    /* letter-spacing: -3px; */
    margin: 30px 0;
    padding: 0;
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: 100;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    margin: 50px 0;
}

/* form group */

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 20px;
    align-items: center;
}

.form-group p {
    font-size: 1.5rem;
    font-weight: 700;
}

.dates {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dates input {
    font-size: 1.5rem;
    font-weight: 100;
    width: 150px;
    padding: 5px;
    border: 0;
    border-radius: 10px;

    font-family: "Roboto", sans-serif;
}

.dates input[type="date"]::selection {
    outline: 0;
}

.types {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: var(--background-color-2);
    color: var(--main-text-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    width: 150px;
}

.radio-button.selected {
    background-color: var(--call-for-action);
    color: var(--background-color-1);
    outline: 0;
}

.radio-button input[type="radio"] {
    display: none;
}

.form-group button {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: var(--gold-color-1);
    color: var(--main-text-color);
    border: 0px solid var(--gold-color-1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-group button:hover {
    background-color: var(--call-for-action);
    color: var(--background-color-1);
}

.summary {
    text-align: center;
    margin: 50px 0;
    font-size: 2rem;
}

.summary span {
    color: var(--interract-color);
}
/*progress bar */

.progress-bar {
    position: relative;
    width: 60%;
    height: 20px;
    background-color: #e0e0e0; /* Couleur grise pour la partie vide */
    border-radius: 10px;
}

.progress-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0; /* Couleur grise */
    border-radius: 10px;
    /* outline: 3px solid var(--interract-color); */
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        90deg,
        var(--call-for-action),
        var(--interract-color)
    );
    border-radius: 10px;
}

/* effects  */

b {
    font-weight: 1000;
}

.gold {
    background: -webkit-linear-gradient(
        70deg,
        var(--gold-color-1),
        var(--gold-color-2)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.call-for-action {
    font-style: italic;
    background: -webkit-linear-gradient(
        130deg,
        var(--call-for-action),
        var(--interract-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
